@model IEnumerable<QLTours.Models.diadiem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            STT
        </th>
        <th>
            Thành phố
        </th>
        <th>
            Tên địa điểm
        </th>
        <th>
            Mô tả
        </th>
        <th></th>
    </tr>
@{int counter = 0; }
@foreach (var item in Model) {
    <tr>
        <td>
            @(++counter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThanhPho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
